version: '3.8'
services:
  mongo:
    image: mongo:6
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  payment-service:
    environment:
      - DATABASE_URL=mongodb://mongo:27017/buildbrain

volumes:
  mongo_data:
    driver: local
